//  theme 1
/*$light: #a7d129;
$blue: #616f39;
$green: #3e432e;
$dark: #000000;*/



//  theme 2
$light: #ececec;
$blue: #f2a365;
$green: #30475e;
$dark: #222831;



//  theme 3
/*$light: #bbe1fa;
$blue: #3282b8;
$green: #0f4c75;
$dark: #1b262c;*/



//  theme 4
/*$light: #e94560;
$blue: #0f3460;
$green: #16213e;
$dark: #1a1a2e;

*/

//  theme 5
/*$light: #53354a;
$blue: #903749;
$green: #e84545;
$dark: #2b2e4a;

*/




@import "bootstrap/scss/bootstrap.scss";
