body{
    font-family: 'KoHo', sans-serif;
}
h1{
    font-size:4rem;
}
h1 span{
    display: inline-block;
}

.taille{
    height: 500px;
}
.lama{
    background-color: #30475e;
}
.projets{
    text-decoration: none;
}
header>div{
    height: 250px;
}
header i{
    font-size: 1.5rem;
}
nav>a{
    text-decoration: none;
    color: white;
}

.imageFond{
    background-image: url(../img/medium.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.formWrong{
  background-color: rgb(187, 134, 134)!important;
  color: white!important;
}


/****
*
*
* Animations cards
*
***/


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 50px 50px rgba(0,0,0,0.22);
}





/***
*
*
* Waves
*
***/

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
 
  input::placeholder{
    font-size: 0.85rem;
  }
 
  .size{
    width: 150px;
    height: auto;
  }

}